.bookmark {
    display: flex;
    align-items: stretch;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  
  .bookmark img {
    width: 3em;
    height: 4em;
    border-radius: 4px;
    margin-right: 10px;
  }

  .bookmark-info {
    flex-grow: 1;
    padding: 0 10px; 
  }
  
  .bookmark h2 {
    font-size: 1.2em; 
    margin: 0;
  }

  .bookmark-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .nav-link {
    text-decoration: none;
   
  }
  .date-added {
  margin-left: 2em;
}

.gray-table {
  background-color: gray;
}