.custom-navbar {
    background-color: #101010;
}

.navbar-logo {
    color: #fff;
}

.search-input {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 500px; /* Set initial width for larger screens */
    flex-grow: 1;
}

.search-button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}

.signin-link {
    color: #fff;
}

.custom-dropdown {
    margin-right: 16px;
}

.custom-dropdown-button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Reduce the width for medium screens */
@media (max-width: 1200px) {
    .search-input {
        width: 300px;
    }
}

/* Further reduce the width for smaller screens */
@media (max-width: 992px) {
    .search-input {
        width: 200px;
    }
}

/* Even smaller screens, adjust as needed */
@media (max-width: 768px) {
    .search-input {
        width: 150px;
    }
}