.movie-page-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #333; /* Dark background */
  border-radius: 8px;
  overflow: hidden;
  margin-top: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: left; /* Adjusted text alignment */
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #555; /* Slightly lighter background for header */
  color: #fff;
}

.title-container {
  margin-left: 20px;
}

.title-container h1 {
  margin: 0;
  font-size: 44px;
  color: #fff; /* White text */
}

.title-container h6 {
  margin: 5px 0 0;
  font-size: 14px;
  color: #ccc;
  flex: 1;
}

.details-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #444; /* Dark background */
}

.info-container {
  flex: 1;
}

.description-container {
  padding: 20px;
  background-color: #555; /* Slightly lighter background for description */
}

.creators-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.see-crew-button {
  background-color: #f5c518;
  color: #333;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.see-crew-button:hover {
  background-color: #333;
  color: #f5c518;
}

.additional-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #444; /* Dark background */
}

.genres-container {
  margin-bottom: 20px;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
}

.genres-list p {
  margin: 0 10px 5px 0;
  padding: 8px 12px;
  background-color: #555; /* Slightly lighter background for genres */
  border-radius: 4px;
  font-size: 12px;
  color: #fff; /* White text */
}

.rating-label {
  margin-left: 0px;
  font-size: 1em; /* Adjusted font size */
}

.star-rating-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  margin-top: 10px;
}

.star-rating {
  font-size: 1.3em; /* Adjusted font size */
  display: flex;
  align-items: center;
}

.star {
  margin-right: 6px; /* Adjusted margin */
}

 /* Bookmark button */

.bookmark-button {
  background-color: #f5c518; /* IMDb yellow */
  color: #333; /* Dark text color */
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.bookmark-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}


.stars-container {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 5px; /* Adjust the margin as needed */
}



.bookmark-button:hover {
  background-color: #333; /* Dark background on hover */
  color: #f5c518; /* IMDb yellow on hover */
}

/* ScrollToTopButton.css */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: none;
  font-size: 18px; /* Increase the font size for a larger pointer */
}

.scroll-to-top-button.visible {
  display: block;
  transform: scale(1.2); /* Make the button a bit bigger when visible */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.scroll-to-top-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.actor-box {
  display: inline-block;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #555; /* Slightly lighter background for actor boxes */
  border-radius: 4px;
  font-size: 14px;
  color: #fff; /* White text */
}


.actor-box:hover {
  background-color: #333; /* Dark background on hover */
  color: #f5c518; /* IMDb yellow on hover */
}