/* SingleActor.css */

.actor-details {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.actor-card {
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #292b2c;
  color: #fff;
  transition: none; /* Disable transition for hover effect */
}

.actor-card:hover {
  transform: none; /* Disable hover effect */
}

.actor-name {
  color: #ffd700;
  margin-bottom: 10px;
}

.profession {
  color: #fff; /* White text color for profession */
  font-size: 18px; /* Adjust font size as needed */
  margin-top: 5px; /* Add some space between name and profession */
}

.known-for {
  margin-top: 30px;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.media-card {
  border: 2px solid #4e4e4e;
  border-radius: 8px;
  overflow: hidden;
  transition: none; /* Disable transition for hover effect */
  background-color: #464646;
}

.media-card:hover {
  transform: none; /* Disable hover effect */
}

.media-card img {
  width: 100%;
  height: 300px; /* Set a taller fixed height for the images */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.media-card h3 {
  padding: 10px;
  margin: 0;
}

.year {
  color: #ccc;
  padding: 10px;
  margin: 0;
}

.actor-card .profession {
  color: #fff; /* White text color for profession */
  font-size: 18px; /* Adjust font size as needed */
  margin-top: 5px; /* Add some space between name and profession */
  font-weight: bold; /* Make the text bold */
}
