.bodyteams {
  font-family: 'Arial', sans-serif;
  background-color: #232323; 
  color: #ffffff; 
  margin: 30px 0 0; 
  padding: 0;
}

.containerteam {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.h1teams,
.h2teams {
  color: #e0d612; 
}

.ulteam {
  list-style: none;
  padding: 0;
}

.liteam {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #444444; 
  border: 1px solid #666666;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.liteam:hover {
  background-color: #333;
  color: #f5c518;
}

.person-name {
  font-weight: bold;
}

.role {
  font-style: italic;
}

.cast-listteam,
.crew-listteam {
  margin-bottom: 30px;
}
