body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333;
  color: #fff; 
}

.user-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.rated-movies-container {
  text-align: center;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
}

.rated-movies-list {
  list-style: none;
  padding: 0;
}

.rated-movie-item {
  border-bottom: 1px solid #555; 
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-details {
  flex: 1;
}

.rating {
  font-size: 1em;
  color: #888;
}

.star-rating {
  font-size: 1.5em;
  padding-right: 20px;
}

.star {
  color: gold;
}

.star.filled {
  color: gold;
}